<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gsbussines.rtoinformation">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.gsbussines.rtoinformation.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.RTOVehicleInformation"
        tools:targetApi="31">
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.FuelCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.SplashScreenActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.gsbussines.rtoinformation.Activity.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gsbussines.rtoinformation.Activity.CelebrityListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.TrendPersonVehiclesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.ResultCardsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.SelectExamsPrepareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.EnterInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.LanguageSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.ExamsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.CityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.OficeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.OfficeDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.SymbolActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.SymbolDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.SearchVehicleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.VehiclesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gsbussines.rtoinformation.Activity.RulesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdMob_AppId"/>


    </application>

</manifest>